.btnHidden {
    all:unset;
    display:none;
    cursor:pointer;
    color: grey
}


li:hover .btnHidden{
    display: inline-block;
}

.btnUnset:active {
    outline: none;
}

.taskDone {
    text-decoration: line-through;
}

ul {
    cursor:default;
    user-select: none;
}